@(urls: Map[String,String])


<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://pasteup.guim.co.uk/0.0.3/css/pasteup.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
    <title>You decide</title>


</head>
<body class="wrap">

<div class="hd zone-border zone-border-medium margin-top">
    <h1 class="sub-heading">You decide</h1>
</div>
<!--trail start -->
<div class="trail">

    <ul>
        @urls.map { case (key, value) =>
        <li><a href="@key">@value</a>
        <h2 class="headline">Homeless unlawfully housed in B&Bs</h2>
        <img class="trailpic" src="http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2013/2/17/1361126771476/Bed-and-breakfast-003.jpg" />
		<div class="col-6">
        <div class="trailtext">Third of councils house homeless families in bed and breakfasts for more than six weeks, figures reveal</div>
		</div>
		</div>
        </li>
        }
    </ul>

</div>
<hr class="borderline" />
<!--end trail-->
</body>
</html>